[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mypy = "*"
typing-extensions = "*"

[packages]
pyyaml = ">=5.4"
aiohttp = ">=3.7.4"
requests = "*"
discord-py = ">=1.6.0"
gitpython = "*"
jikanpy = ">=4.1.0"
backoff = "*"
aiofiles = "*"
bs4 = "*"
logzero = "*"
malexport = {git = "https://github.com/seanbreckenridge/malexport/"}
