[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mypy = "*"
typing-extensions = "*"

[packages]
pyyaml = "*"
requests = "*"
discord-py = ">=2.1.0"
gitpython = "*"
backoff = "*"
aiofiles = "*"
logzero = "*"
malexport = {git = "https://github.com/seanbreckenridge/malexport/"}

[scripts]
bot = "python3 bot.py"
